<!-- loop -->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div>
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">HI TECH Core Men's SS & LS</h3>
            <p class="text-big m-0 mb-8">Performance Tees</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong> Runs standard American fit.</p>
            <p class="m-0 mb-8"><strong>Material:</strong> 100% Polyester with a subtle mesh.</p>
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table  justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
            <table class="table-style">
                <thead>
                    <tr>
                        <th></th>
                        <th>S</th>
                        <th>M</th>
                        <th>L</th>
                        <th>XL</th>
                        <th>2XL</th>
                        <th>3XL</th>
                        <th>4XL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>CHEST</strong></td>
                        <td>17.5 IN</td>
                        <td>19.5 IN</td>
                        <td>21.5 IN</td>
                        <td>23.5 IN</td>
                        <td>25.5 IN</td>
                        <td>27.5 IN</td>
                        <td>29.5 IN</td>
                    </tr>
                    <tr>
                        <td><strong>HIPS</strong></td>
                        <td>17.5 IN</td>
                        <td>19.5 IN</td>
                        <td>21.5 IN</td>
                        <td>23.5 IN</td>
                        <td>25.5 IN</td>
                        <td>27.5 IN</td>
                        <td>29.5 IN</td>
                    </tr>
                    <tr>
                        <td><strong>HEIGHT</strong></td>
                        <td>26 IN</td>
                        <td>29 IN</td>
                        <td>31 IN</td>
                        <td>32 IN</td>
                        <td>33.5 IN</td>
                        <td>34.5 IN</td>
                        <td>35.5 IN</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">
            <img src="{{ 'Core_Mens-SS-LS.png' | file_url }}" class="table-feature-image" alt="Core Men's SS & LS">
        </div>

    </div>
</div>
<!-- #loop -->



<!-- loop -->
 <!-- START: Core Men's SS & LS - Flex Performance Tees -->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div>
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">Core Men's SS & LS</h3>
            <p class="text-big m-0 mb-8">Flex Performance Tees</p>
        </div>

        <!-- Fit and Material Info -->
        <div>
            <p class="m-0 mb-8"><strong>Fit:</strong> Runs Larger and looser due to the stretchiness of the material, size down forn athletic fit. </p>
            <p class="m-0 mb-8"><strong>Material:</strong> Brushed 88/12 Poly Spandex</p>
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
           

         <table class="table-style">
                <thead>
                    <tr>
                        <th></th>
                        <th>S</th>
                        <th>M</th>
                        <th>L</th>
                        <th>XL</th>
                        <th>2XL</th>
                        <th>3XL</th>
                        <th>4XL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>CHEST</strong></td>
                        <td>18 IN</td>
                        <td>20 IN</td>
                        <td>22 IN</td>
                        <td>24 IN</td>
                        <td>26 IN</td>
                        <td>28 IN</td>
                        <td>30 IN</td>
                    </tr>
                    <tr>
                        <td><strong>HIPS</strong></td>
                        <td>18 IN</td>
                        <td>20 IN</td>
                        <td>22 IN</td>
                        <td>24 IN</td>
                        <td>26 IN</td>
                        <td>28 IN</td>
                        <td>30 IN</td>
                    </tr>
                    <tr>
                        <td><strong>HEIGHT</strong></td>
                        <td>26 IN</td>
                        <td>29 IN</td>
                        <td>31 IN</td>
                        <td>32 IN</td>
                        <td>33.5 IN</td>
                        <td>34.5 IN</td>
                        <td>35.5 IN</td>
                    </tr>
                </tbody>
            </table>


        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">
            <img src="{{ 'Core_Mens-SS-LS.png' | file_url }}" class="table-feature-image" alt="Core Men's SS & LS">
        </div>

    </div>
</div>
<!-- #loop -->











<!-- loop -->
 <!-- START: Core Men's SS & LS - Flex Performance Tees -->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div>
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">Core WOMen's SS & LS</h3>
            <p class="text-big m-0 mb-8">Performance Tees</p>
        </div>

        <!-- Fit and Material Info -->
         <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong>  Runs athletic women’s fit, size up for a relaxed fit. </p>
            <p class="m-0 mb-8"><strong>Material:</strong> 100% Polyester with a subtle mesh. </p>
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
           

        <table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>18 IN</td>
            <td>19.5 IN</td>
            <td>20.5 IN</td>
            <td>22 IN</td>
            <td>23.5 IN</td>
            <td>25 IN</td>
            <td>26.5 IN</td>
        </tr>
        <tr>
            <td><strong>HIPS</strong></td>
            <td>18 IN</td>
            <td>19.5 IN</td>
            <td>20.5 IN</td>
            <td>22 IN</td>
            <td>23.5 IN</td>
            <td>25 IN</td>
            <td>26.5 IN</td>
        </tr>
        <tr>
            <td><strong>HEIGHT</strong></td>
            <td>28 IN</td>
            <td>29 IN</td>
            <td>30 IN</td>
            <td>31 IN</td>
            <td>32 IN</td>
            <td>33 IN</td>
            <td>34 IN</td>
        </tr>
    </tbody>
</table>


            
        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">
            <img src="{{ 'Core_Mens-SS-LS.png' | file_url }}" class="table-feature-image" alt="Core Men's SS & LS">
        </div>

    </div>
</div>
<!-- #loop -->













<!-- loop -->
 <!-- "Core Women's SS & LS Tees Flex Performance" in a formatted table: -->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div>
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">Core WOMen's SS & LS tees</h3>
            <p class="text-big m-0 mb-8">Flex Performance</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong> Runs Standard Women’s fit, the stretchiness of the material makes this fith slightly more relaxed than the Core Performance. </p>
            <p class="m-0 mb-8"><strong>Material:</strong> Brushed 88/12 Poly Spandex. </p>
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
           

      <table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>17.5 IN</td>
            <td>19 IN</td>
            <td>20.5 IN</td>
            <td>22 IN</td>
            <td>23.5 IN</td>
            <td>25 IN</td>
            <td>26.5 IN</td>
        </tr>
        <tr>
            <td><strong>HIPS</strong></td>
            <td>17.5 IN</td>
            <td>19 IN</td>
            <td>20.5 IN</td>
            <td>22 IN</td>
            <td>23.5 IN</td>
            <td>25 IN</td>
            <td>26.5 IN</td>
        </tr>
        <tr>
            <td><strong>HEIGHT</strong></td>
            <td>28 IN</td>
            <td>29 IN</td>
            <td>30 IN</td>
            <td>31 IN</td>
            <td>32 IN</td>
            <td>33 IN</td>
            <td>34 IN</td>
        </tr>
    </tbody>
</table>



            
        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">
            <img src="{{ 'Core_Mens-SS-LS.png' | file_url }}" class="table-feature-image" alt="Core Men's SS & LS">
        </div>

    </div>
</div>
<!-- #loop -->












<!-- loop -->
 <!-- Core Men's hooded  -->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div>
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">Core Men's hooded </h3>
            <p class="text-big m-0 mb-8">Performance Sweatshirt</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong>Runs standard American fit. </p>
            <p class="m-0 mb-8"><strong>Material:</strong> Sargent Fleece 100% Anti-Pill Polyester 7.6oz medium weight fleece. </p>
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
           

     <table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>38 IN</td>
            <td>41 IN</td>
            <td>44 IN</td>
            <td>47 IN</td>
            <td>50 IN</td>
            <td>53 IN</td>
            <td>56 IN</td>
        </tr>
        <tr>
            <td><strong>HIPS</strong></td>
            <td>38 IN</td>
            <td>41 IN</td>
            <td>44 IN</td>
            <td>47 IN</td>
            <td>50 IN</td>
            <td>53 IN</td>
            <td>56 IN</td>
        </tr>
        <tr>
            <td><strong>HEIGHT</strong></td>
            <td>28.5 IN</td>
            <td>29.5 IN</td>
            <td>30.5 IN</td>
            <td>31.5 IN</td>
            <td>32.5 IN</td>
            <td>33.5 IN</td>
            <td>34.5 IN</td>
        </tr>
    </tbody>
</table>



            
        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">
            <img src="{{ 'Core_Mens-SS-LS.png' | file_url }}" class="table-feature-image" alt="Core Men's SS & LS">
        </div>

    </div>
</div>
<!-- #loop -->







<!-- loop -->
 <!-- Core Men's shirt Performance Polo & Party -->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div>
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">Core Men's shirt  </h3>
            <p class="text-big m-0 mb-8">Performance Polo & Party</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong> Athletic Fit, may need to size up for a relaxed baggy fit. </p>
            <p class="m-0 mb-8"><strong>Material:</strong>  100% Polyester with a subtle mesh. </p>
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
           
<table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>38 IN</td>
            <td>41 IN</td>
            <td>44 IN</td>
            <td>47 IN</td>
            <td>50 IN</td>
            <td>53 IN</td>
            <td>56 IN</td>
        </tr>
        <tr>
            <td><strong>HIPS</strong></td>
            <td>38 IN</td>
            <td>41 IN</td>
            <td>44 IN</td>
            <td>47 IN</td>
            <td>50 IN</td>
            <td>53 IN</td>
            <td>56 IN</td>
        </tr>
        <tr>
            <td><strong>HEIGHT</strong></td>
            <td>28 IN</td>
            <td>29 IN</td>
            <td>30 IN</td>
            <td>31 IN</td>
            <td>32 IN</td>
            <td>33 IN</td>
            <td>34 IN</td>
        </tr>
    </tbody>
</table>



            
        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">
            <img src="{{ 'Core_Mens-SS-LS.png' | file_url }}" class="table-feature-image" alt="Core Men's SS & LS">
        </div>

    </div>
</div>
<!-- #loop -->





<!-- loop -->
 <!-- Core Men's shirt Performance Polo & Party -->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div>
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">Core Men's shirt  </h3>
            <p class="text-big m-0 mb-8">Performance Polo & Party</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong> Athletic Fit, may need to size up for a relaxed baggy fit. </p>
            <p class="m-0 mb-8"><strong>Material:</strong>  100% Polyester with a subtle mesh. </p>
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
           
<table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>38 IN</td>
            <td>41 IN</td>
            <td>44 IN</td>
            <td>47 IN</td>
            <td>50 IN</td>
            <td>53 IN</td>
            <td>56 IN</td>
        </tr>
        <tr>
            <td><strong>HIPS</strong></td>
            <td>38 IN</td>
            <td>41 IN</td>
            <td>44 IN</td>
            <td>47 IN</td>
            <td>50 IN</td>
            <td>53 IN</td>
            <td>56 IN</td>
        </tr>
        <tr>
            <td><strong>HEIGHT</strong></td>
            <td>28 IN</td>
            <td>29 IN</td>
            <td>30 IN</td>
            <td>31 IN</td>
            <td>32 IN</td>
            <td>33 IN</td>
            <td>34 IN</td>
        </tr>
    </tbody>
</table>



            
        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">
            <img src="{{ 'Core_Mens-SS-LS.png' | file_url }}" class="table-feature-image" alt="Core Men's SS & LS">
        </div>

    </div>
</div>
<!-- #loop -->






<!-- loop -->
 <!-- Core Men's shirt Performance Polo & Party -->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div>
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">Core Men's shirt  </h3>
            <p class="text-big m-0 mb-8">Performance Polo & Party</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong> Athletic Fit, may need to size up for a relaxed baggy fit. </p>
            <p class="m-0 mb-8"><strong>Material:</strong>  100% Polyester with a subtle mesh. </p>
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
           
<table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>38 IN</td>
            <td>41 IN</td>
            <td>44 IN</td>
            <td>47 IN</td>
            <td>50 IN</td>
            <td>53 IN</td>
            <td>56 IN</td>
        </tr>
        <tr>
            <td><strong>HIPS</strong></td>
            <td>38 IN</td>
            <td>41 IN</td>
            <td>44 IN</td>
            <td>47 IN</td>
            <td>50 IN</td>
            <td>53 IN</td>
            <td>56 IN</td>
        </tr>
        <tr>
            <td><strong>HEIGHT</strong></td>
            <td>28 IN</td>
            <td>29 IN</td>
            <td>30 IN</td>
            <td>31 IN</td>
            <td>32 IN</td>
            <td>33 IN</td>
            <td>34 IN</td>
        </tr>
    </tbody>
</table>



            
        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">
            <img src="{{ 'Core_Mens-SS-LS.png' | file_url }}" class="table-feature-image" alt="Core Men's SS & LS">
        </div>

    </div>
</div>
<!-- #loop -->

