
<!-- loop 
 

men’s ss tees
Hi-Tech Performance
Starting Retail Price: $60 / $80

-->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div class="flex-2">
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">Men’s ss tees</h3>
            <p class="text-big m-0 mb-8">Hi-Tech Performance</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong> Relaxed Fit, won’t shrink..</p>
            <p class="m-0 mb-8"><strong>Produts Included:</strong> 100% Polyester Sport-Tek ST350. </p>
        </div>

         <div class="arrow-up">
            {{'icon-arrow-up.svg' |  asset_url |  img_tag }}
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
         <table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>20 IN</td>
            <td>21.5 IN</td>
            <td>23 IN</td>
            <td>24.5 IN</td>
            <td>26 IN</td>
            <td>28 IN</td>
            <td>30 IN</td>
        </tr>
        <tr>
            <td><strong>SLEEVE</strong></td>
            <td>18.5 IN</td>
            <td>19.25 IN</td>
            <td>20 IN</td>
            <td>20.75 IN</td>
            <td>21.5 IN</td>
            <td>22.25 IN</td>
            <td>23 IN</td>
        </tr>
        <tr>
            <td><strong>HEIGHT</strong></td>
            <td>28 IN</td>
            <td>29 IN</td>
            <td>30 IN</td>
            <td>31 IN</td>
            <td>32 IN</td>
            <td>32.5 IN</td>
            <td>33 IN</td>
        </tr>
    </tbody>
</table>

        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">

          <img src="{{ 'Hi-Tech_Men_s_SS_Performance_Tees_1.png' | file_url  }}" alt="Core Men's SS & LS" width="" height="">

         
        </div>

    </div>
</div>
<!-- #loop -->






<!-- loop 
 
men’s ls tees
Hi-Tech Performance
Starting Retail Price: $60 / $80

-->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div class="flex-2">
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">Men’s ls tees</h3>
            <p class="text-big m-0 mb-8">Hi-Tech Performance</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong> Relaxed Fit, won’t shrink. </p>
            <p class="m-0 mb-8"><strong>Produts Included:</strong> 100% Polyester Sport-Tek ST350LS. </p>
        </div>

         <div class="arrow-up">
            {{'icon-arrow-up.svg' |  asset_url |  img_tag }}
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
          <table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>20 IN</td>
            <td>21.5 IN</td>
            <td>23 IN</td>
            <td>24.5 IN</td>
            <td>26 IN</td>
            <td>28 IN</td>
            <td>30 IN</td>
        </tr>
        <tr>
            <td><strong>SLEEVE</strong></td>
            <td>34 IN</td>
            <td>34.25 IN</td>
            <td>35.5 IN</td>
            <td>36.25 IN</td>
            <td>37 IN</td>
            <td>37.75 IN</td>
            <td>38.25 IN</td>
        </tr>
        <tr>
            <td><strong>HEIGHT</strong></td>
            <td>28 IN</td>
            <td>29 IN</td>
            <td>30 IN</td>
            <td>31 IN</td>
            <td>32 IN</td>
            <td>32.5 IN</td>
            <td>33 IN</td>
        </tr>
    </tbody>
</table>

        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">

        
          <img src="{{ 'Hi-Tech_Men_s_LS_Performance_Tees_1.png' | file_url  }}" alt="Core Men's SS & LS" width="" height="">

         
        </div>

    </div>
</div>
<!-- #loop -->






<!-- loop
 
men’s hooded sweatshirt
Hi-Tech Performance
Starting Retail Price: $60 / $80

-->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div class="flex-2">
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">Men's hooded sweatshirt</h3>
            <p class="text-big m-0 mb-8">Hi-Tech Performance</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong> Fit: Relaxed, roomy fit. </p>
            <p class="m-0 mb-8"><strong>Produts Included:</strong> Products Included: 100% Polyester STF244. </p>
        </div>

         <div class="arrow-up">
            {{'icon-arrow-up.svg' |  asset_url |  img_tag }}
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
           <table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>20 IN</td>
            <td>22 IN</td>
            <td>24 IN</td>
            <td>26 IN</td>
            <td>28 IN</td>
            <td>30 IN</td>
            <td>32 IN</td>
        </tr>
        <tr>
            <td><strong>SLEEVE LENGTH</strong></td>
            <td>33.5 IN</td>
            <td>34.5 IN</td>
            <td>33.5 IN</td>
            <td>36.5 IN</td>
            <td>37.5 IN</td>
            <td>38.5 IN</td>
            <td>39.5 IN</td>
        </tr>
        <tr>
            <td><strong>HEIGHT</strong></td>
            <td>26 IN</td>
            <td>27 IN</td>
            <td>28 IN</td>
            <td>29 IN</td>
            <td>30 IN</td>
            <td>31 IN</td>
            <td>32 IN</td>
        </tr>
    </tbody>
</table>

        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">
        
          <img src="{{ 'Hi-Tech_Men_s_Hooded_Performance_Sweatshirt.png' | file_url  }}" alt="Core Men's SS & LS" width="" height="">

         
        </div>

    </div>
</div>
<!-- #loop -->






<!-- loop
 
men’s fleeced 1/4 zip
Hi-Tech Performance
Starting Retail Price: $60 / $80

-->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div class="flex-2">
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">Men’s fleeced 1/4 zip</h3>
            <p class="text-big m-0 mb-8">Hi-Tech Performance</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong> Relaxed fit. </p>
            <p class="m-0 mb-8"><strong>Produts Included:</strong> 100% Polyester ST850. </p>
        </div>

         <div class="arrow-up">
            {{'icon-arrow-up.svg' |  asset_url |  img_tag }}
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
          <table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>22 IN</td>
            <td>23.5 IN</td>
            <td>25 IN</td>
            <td>26.5 IN</td>
            <td>28 IN</td>
            <td>30 IN</td>
            <td>32 IN</td>
        </tr>
        <tr>
            <td><strong>SLEEVE LENGTH</strong></td>
            <td>33.5 IN</td>
            <td>34.25 IN</td>
            <td>35 IN</td>
            <td>35.75 IN</td>
            <td>36.5 IN</td>
            <td>37.25 IN</td>
            <td>38 IN</td>
        </tr>
        <tr>
            <td><strong>HEIGHT</strong></td>
            <td>27 IN</td>
            <td>28 IN</td>
            <td>29 IN</td>
            <td>30 IN</td>
            <td>31 IN</td>
            <td>31.5 IN</td>
            <td>32 IN</td>
        </tr>
    </tbody>
</table>

        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">
        
          <img src="{{ 'Hi-Tech_Men_s_Full_Zip_Fleeced_Jacket.png' | file_url  }}" alt="Core Men's SS & LS" width="" height="">

         
        </div>

    </div>
</div>
<!-- #loop -->












<!-- loop 
 
men’s polo
Hi-Tech Performance
Starting Retail Price: $60 / $80

-->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div class="flex-2">
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">men’s polo</h3>
            <p class="text-big m-0 mb-8">Hi-Tech Performance</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong> Standard American fit, will not shrink. </p>
            <p class="m-0 mb-8"><strong>Produts Included:</strong> 100% Polyester Sport-Tek ST650. </p>
        </div>

         <div class="arrow-up">
            {{'icon-arrow-up.svg' |  asset_url |  img_tag }}
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
          <table class="table-style">
  <thead>
    <tr>
      <th>Size</th>
      <th>S</th>
      <th>M</th>
      <th>L</th>
      <th>XL</th>
      <th>2XL</th>
      <th>3XL</th>
      <th>4XL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>CHEST</td>
      <td>20.25"</td>
      <td>21.75"</td>
      <td>23.25"</td>
      <td>24.75"</td>
      <td>26.25"</td>
      <td>28.25"</td>
      <td>30.25"</td>
    </tr>
    <tr>
      <td>Sleeve Length</td>
      <td>18.5"</td>
      <td>19.25"</td>
      <td>20"</td>
      <td>20.75"</td>
      <td>21.5"</td>
      <td>22.25"</td>
      <td>23"</td>
    </tr>
    <tr>
      <td>HEIGHT</td>
      <td>29"</td>
      <td>30"</td>
      <td>31"</td>
      <td>32"</td>
      <td>33"</td>
      <td>33.5"</td>
      <td>34"</td>
    </tr>
  </tbody>
</table>

        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">

        
          <img src="{{ 'Hi-Tech_Men_s_Performance_Polo.png' | file_url  }}" alt="Core Men's SS & LS" width="" height="">

         
        </div>

    </div>
</div>
<!-- #loop -->







