
<!-- loop
 
100% Cotton unisex SS & LS Tees
Comfort (Not Tan499 & Coyote Brown)
Starting Retail Price: $60 / $80

-->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div class="flex-2">
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">100% Cotton unisex SS & LS Tees</h3>
            <p class="text-big m-0 mb-8">Comfort (Not Tan499 & Coyote Brown)</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong> Athletic Fit, may shrink.</p>
            <p class="m-0 mb-8"><strong>Produts Included:</strong>  Bella Canvas 3001, 3001CVC, 3413, 3501, Next Level 3600 </p>
        </div>

         <div class="arrow-up">
            {{'icon-arrow-up.svg' |  asset_url |  img_tag }}
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
          <table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>18-19 IN</td>
            <td>20-20.5 IN</td>
            <td>22 IN</td>
            <td>24 IN</td>
            <td>26 IN</td>
            <td>28 IN</td>
            <td>30 IN</td>
        </tr>
        <tr>
            <td><strong>HEIGHT</strong></td>
            <td>28 IN</td>
            <td>29 IN</td>
            <td>30 IN</td>
            <td>31 IN</td>
            <td>32 IN</td>
            <td>33 IN</td>
            <td>34 IN</td>
        </tr>
    </tbody>
</table>

        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">

        
          <img src="{{ 'Garment_Image.png' | file_url  }}" alt="Core Men's SS & LS" width="" height="">

         
        </div>

    </div>
</div>
<!-- #loop -->







<!-- loop
 
100% COTTON UNISEX SS TEES

-->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div class="flex-2">
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">100% COTTON UNISEX SS TEES</h3>
            <p class="text-big m-0 mb-8">Comfort (Tan499 & Coyote Brown)</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong> Athletic Fit, may shrink.</p>
            <p class="m-0 mb-8"><strong>Produts Included:</strong>  Port and Company PC54. </p>
        </div>

         <div class="arrow-up">
            {{'icon-arrow-up.svg' |  asset_url |  img_tag }}
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
           <table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>18 IN</td>
            <td>20 IN</td>
            <td>22 IN</td>
            <td>24 IN</td>
            <td>26 IN</td>
            <td>28 IN</td>
            <td>30 IN</td>
        </tr>
        <tr>
            <td><strong>HEIGHT</strong></td>
            <td>28 IN</td>
            <td>29 IN</td>
            <td>30 IN</td>
            <td>31 IN</td>
            <td>32 IN</td>
            <td>33 IN</td>
            <td>34 IN</td>
        </tr>
    </tbody>
</table>

        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">

        
          <img src="{{ 'Comfort_100__Cotton_SS_Military_Colors_1.png' | file_url  }}" alt="Core Men's SS & LS" width="" height="">

         
        </div>

    </div>
</div>
<!-- #loop -->
















<!-- loop 
 
triblend UNISEX ss & ls tees
Comfort
Starting Retail Price: $60 / $80

-->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div class="flex-2">
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">triblend UNISEX ss & ls tees</h3>
            <p class="text-big m-0 mb-8">Comfort</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong>  Athletic Fit, not shrinkable.</p>
            <p class="m-0 mb-8"><strong>Produts Included:</strong> Bella Canvas BC3413, 3001CVC.</p>
        </div>

         <div class="arrow-up">
            {{'icon-arrow-up.svg' |  asset_url |  img_tag }}
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
           <table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>18 IN</td>
            <td>20 IN</td>
            <td>22 IN</td>
            <td>24 IN</td>
            <td>26 IN</td>
            <td>28 IN</td>
            <td>30 IN</td>
        </tr>
        <tr>
            <td><strong>HEIGHT</strong></td>
            <td>28 IN</td>
            <td>29 IN</td>
            <td>30 IN</td>
            <td>31 IN</td>
            <td>32 IN</td>
            <td>33 IN</td>
            <td>34 IN</td>
        </tr>
    </tbody>
</table>

        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">

        
          <img src="{{ 'Comfort_Triblend_SS_LS_Tees_1.png' | file_url  }}" alt="Core Men's SS & LS" width="" height="">

         
        </div>

    </div>
</div>
<!-- #loop -->

















<!-- loop
 
crewneck sweatshirt
(Black, Navy, Royal, Lt Heather Gray, Md Heather Gray)
Starting Retail Price: $60 / $80


-->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div class="flex-2">
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">Crewneck sweatshirt</h3>
            <p class="text-big m-0 mb-8">(Black, Navy, Royal, Lt Heather Gray, Md Heather Gray)</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong> Standard American Fit, may shrink. </p>
            <p class="m-0 mb-8"><strong>Produts Included:</strong> Lane Seven 14004.</p>
        </div>

         <div class="arrow-up">
            {{'icon-arrow-up.svg' |  asset_url |  img_tag }}
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
         <table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>20 IN</td>
            <td>22 IN</td>
            <td>24 IN</td>
            <td>26 IN</td>
            <td>28 IN</td>
            <td>30 IN</td>
            <td>N/A</td>
        </tr>
        <tr>
            <td><strong>HEIGHT</strong></td>
            <td>27 IN</td>
            <td>28 IN</td>
            <td>29 IN</td>
            <td>30 IN</td>
            <td>31 IN</td>
            <td>32 IN</td>
            <td>N/A</td>
        </tr>
    </tbody>
</table>

        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">
        
          <img src="{{ 'Comfort_Crewneck_Sweatshirt__OD_Green_OD_Green_Heather_Navy_Red_Royal_Heather_Dark_Gray_Heather_1.png' | file_url  }}" alt="Core Men's SS & LS" width="" height="">

         
        </div>

    </div>
</div>
<!-- #loop -->



