<!-- loop Core Men's SS & LS, Performance Tees -->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div class="flex-2">
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">Core Men's SS & LS</h3>
            <p class="text-big m-0 mb-8">Performance Tees</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong> Runs standard American fit.</p>
            <p class="m-0 mb-8"><strong>Material:</strong> 100% Polyester with a subtle mesh.</p>
        </div>

         <div class="arrow-up">
            {{'icon-arrow-up.svg' |  asset_url |  img_tag }}
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
            <table class="table-style">
                <thead>
                    <tr>
                        <th></th>
                        <th>S</th>
                        <th>M</th>
                        <th>L</th>
                        <th>XL</th>
                        <th>2XL</th>
                        <th>3XL</th>
                        <th>4XL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>CHEST</strong></td>
                        <td>17.5 IN</td>
                        <td>19.5 IN</td>
                        <td>21.5 IN</td>
                        <td>23.5 IN</td>
                        <td>25.5 IN</td>
                        <td>27.5 IN</td>
                        <td>29.5 IN</td>
                    </tr>
                    <tr>
                        <td><strong>HIPS</strong></td>
                        <td>17.5 IN</td>
                        <td>19.5 IN</td>
                        <td>21.5 IN</td>
                        <td>23.5 IN</td>
                        <td>25.5 IN</td>
                        <td>27.5 IN</td>
                        <td>29.5 IN</td>
                    </tr>
                    <tr>
                        <td><strong>HEIGHT</strong></td>
                        <td>26 IN</td>
                        <td>29 IN</td>
                        <td>31 IN</td>
                        <td>32 IN</td>
                        <td>33.5 IN</td>
                        <td>34.5 IN</td>
                        <td>35.5 IN</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">


          <img src="{{ 'Core_Mens-SS-LS.png' | file_url  }}" alt="Core Men's SS & LS" width="" height="">

         
        </div>

    </div>
</div>
<!-- #loop -->











<!-- loopCore Men's SS & LS, Flex Performance Tees  -->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div class="flex-2">
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">Core Men's SS & LS</h3>
            <p class="text-big m-0 mb-8">Flex Performance Tees</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong> Runs Larger and looser due to the stretchiness of the material, size down forn athletic fit. </p>
            <p class="m-0 mb-8"><strong>Material:</strong>Brushed 88/12 Poly Spandex</p>
        </div>

         <div class="arrow-up">
            {{'icon-arrow-up.svg' |  asset_url |  img_tag }}
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
          <table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>18 IN</td>
            <td>20 IN</td>
            <td>33 IN</td>
            <td>24 IN</td>
            <td>26 IN</td>
            <td>28 IN</td>
            <td>30 IN</td>
        </tr>
        <tr>
            <td><strong>HIPS</strong></td>
            <td>18 IN</td>
            <td>20 IN</td>
            <td>33 IN</td>
            <td>24 IN</td>
            <td>26 IN</td>
            <td>28 IN</td>
            <td>30 IN</td>
        </tr>
        <tr>
            <td><strong>HEIGHT</strong></td>
            <td>26 IN</td>
            <td>29 IN</td>
            <td>31 IN</td>
            <td>32 IN</td>
            <td>33.5 IN</td>
            <td>34.5 IN</td>
            <td>35.5 IN</td>
        </tr>
    </tbody>
</table>

        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">

        
          <img src="{{ 'Core_Mens-SS-LS.png' | file_url  }}" alt="Core Men's SS & LS" width="" height="">

         
        </div>

    </div>
</div>
<!-- #loop -->






















<!-- loop Core WOMen's SS & LS Performance Tees -->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div class="flex-2">
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">Core WOMen's SS & LS</h3>
            <p class="text-big m-0 mb-8">Performance Tees</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong>  Runs athletic women’s fit, size up for a relaxed fit. </p>
            <p class="m-0 mb-8"><strong>Material:</strong>  100% Polyester with a subtle mesh.</p>
        </div>

         <div class="arrow-up">
            {{'icon-arrow-up.svg' |  asset_url |  img_tag }}
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
          <table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>18 IN</td>
            <td>19 IN</td>
            <td>20.5 IN</td>
            <td>22 IN</td>
            <td>23.5 IN</td>
            <td>25.5 IN</td>
            <td>27.5 IN</td>
        </tr>
        <tr>
            <td><strong>HIPS</strong></td>
            <td>19 IN</td>
            <td>19.5 IN</td>
            <td>21 IN</td>
            <td>22.5 IN</td>
            <td>24.5 IN</td>
            <td>26 IN</td>
            <td>28.5 IN</td>
        </tr>
        <tr>
            <td><strong>HEIGHT</strong></td>
            <td>26 IN</td>
            <td>29 IN</td>
            <td>31 IN</td>
            <td>32 IN</td>
            <td>33.5 IN</td>
            <td>34.5 IN</td>
            <td>28.5 IN</td>
        </tr>
    </tbody>
</table>

        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">

        
          <img src="{{ 'Core_Women_s_SS_LS_Flex_Performance_Tees_1.png' | file_url  }}" alt="Core Men's SS & LS" width="" height="">

         
        </div>

    </div>
</div>
<!-- #loop -->























<!-- loop 
 
Core WOMen's SS & LS tees
Flex Performance
Starting Retail Price: $60 / $80

-->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div class="flex-2">
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">Core WOMen's SS & LS tees</h3>
            <p class="text-big m-0 mb-8">Flex Performance</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong> Runs Standard Women’s fit, the stretchiness of the material makes this fith slightly more relaxed than the Core Performan.</p>
            <p class="m-0 mb-8"><strong>Material:</strong>  Brushed 88/12 Poly Spandex.</p>
        </div>

         <div class="arrow-up">
            {{'icon-arrow-up.svg' |  asset_url |  img_tag }}
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
           <table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>18.5 IN</td>
            <td>19.5 IN</td>
            <td>21 IN</td>
            <td>22.5 IN</td>
            <td>24 IN</td>
            <td>26 IN</td>
            <td>28 IN</td>
        </tr>
        <tr>
            <td><strong>HIPS</strong></td>
            <td>19.5 IN</td>
            <td>20 IN</td>
            <td>21.5 IN</td>
            <td>23 IN</td>
            <td>25 IN</td>
            <td>26.5 IN</td>
            <td>29 IN</td>
        </tr>
        <tr>
            <td><strong>HEIGHT</strong></td>
            <td>26 IN</td>
            <td>29 IN</td>
            <td>31 IN</td>
            <td>32 IN</td>
            <td>33.5 IN</td>
            <td>34.5 IN</td>
            <td>28.5 IN</td>
        </tr>
    </tbody>
</table>

        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">

        
           <img src="{{ 'Core_Women_s_SS_LS_Flex_Performance_Tees_1.png' | file_url  }}" alt="Core Men's SS & LS" width="" height="">

         
        </div>

    </div>
</div>
<!-- #loop -->






















<!-- loop 
 Core Men's crewneck
 Performance Sweatshirt
Starting Retail Price: $60 / $80

-->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div class="flex-2">
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">Core Men's crewneck</h3>
            <p class="text-big m-0 mb-8">Performance Sweatshirt</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong>  Runs standard American fit. </p>
            <p class="m-0 mb-8"><strong>Material:</strong>100% Anti-Pill Polyester 7.60z medium weight Sargent Fleece.</p>
        </div>

         <div class="arrow-up">
            {{'icon-arrow-up.svg' |  asset_url |  img_tag }}
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
           <table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>23 IN</td>
            <td>24 IN</td>
            <td>25 IN</td>
            <td>26 IN</td>
            <td>27 IN</td>
            <td>28 IN</td>
            <td>29 IN</td>
        </tr>
        <tr>
            <td><strong>HIPS</strong></td>
            <td>22 IN</td>
            <td>23 IN</td>
            <td>24 IN</td>
            <td>25 IN</td>
            <td>26 IN</td>
            <td>27 IN</td>
            <td>28 IN</td>
        </tr>
        <tr>
            <td><strong>HEIGHT</strong></td>
            <td>29.75 IN</td>
            <td>30.5 IN</td>
            <td>31.25 IN</td>
            <td>32 IN</td>
            <td>32.75 IN</td>
            <td>33.5 IN</td>
            <td>34.25 IN</td>
        </tr>
    </tbody>
</table>

        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">

        
          <img src="{{ 'Core_Men_s_Crewneck_Performance_Sweatshirt.png' | file_url  }}" alt="Core Men's SS & LS" width="" height="">

         
        </div>

    </div>
</div>
<!-- #loop -->











<!-- loop
 
Core Men's hooded

Performance Sweatshirt

Starting Retail Price: $60 / $80

-->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div class="flex-2">
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">Core Men's hooded</h3>
            <p class="text-big m-0 mb-8">Performance Sweatshirt</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong>Runs standard American fit. </p>
            <p class="m-0 mb-8"><strong>Material:</strong>Sargent Fleece 100% Anti-Pill Polyester 7.6oz medium weight fleece.</p>
        </div>

         <div class="arrow-up">
            {{'icon-arrow-up.svg' |  asset_url |  img_tag }}
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
          <table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>19 IN</td>
            <td>21 IN</td>
            <td>22.5 IN</td>
            <td>24.5 IN</td>
            <td>25.5 IN</td>
            <td>26.5 IN</td>
            <td>28 IN</td>
        </tr>
        <tr>
            <td><strong>HIPS</strong></td>
            <td>18 IN</td>
            <td>20 IN</td>
            <td>21.5 IN</td>
            <td>23.5 IN</td>
            <td>24.5 IN</td>
            <td>25.5 IN</td>
            <td>27 IN</td>
        </tr>
        <tr>
            <td><strong>HEIGHT</strong></td>
            <td>28 IN</td>
            <td>29 IN</td>
            <td>30 IN</td>
            <td>31 IN</td>
            <td>32 IN</td>
            <td>33 IN</td>
            <td>34 IN</td>
        </tr>
    </tbody>
</table>

        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">

        
          <img src="{{ 'Core_Men_s_Hooded_Performance_Sweatshirt_1.png' | file_url  }}" alt="Core Men's SS & LS" width="" height="">

         
        </div>

    </div>
</div>
<!-- #loop -->












<!-- loop 
 
Core Men's shirt

Performance Polo & Party
-->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div class="flex-2">
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">Core Men's shirt</h3>
            <p class="text-big m-0 mb-8">Performance Polo & Party</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong> Athletic Fit, may need to size up for a relaxed baggy fit. </p>
            <p class="m-0 mb-8"><strong>Material:</strong>  100% Polyester with a subtle mesh. </p>
        </div>

         <div class="arrow-up">
            {{'icon-arrow-up.svg' |  asset_url |  img_tag }}
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
          <table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>20 IN</td>
            <td>21 IN</td>
            <td>22 IN</td>
            <td>24 IN</td>
            <td>26 IN</td>
            <td>28 IN</td>
            <td>30 IN</td>
        </tr>
        <tr>
            <td><strong>HIPS</strong></td>
            <td>21 IN</td>
            <td>22 IN</td>
            <td>23 IN</td>
            <td>25 IN</td>
            <td>27 IN</td>
            <td>29 IN</td>
            <td>31 IN</td>
        </tr>
        <tr>
            <td><strong>HEIGHT</strong></td>
            <td>28 IN</td>
            <td>29 IN</td>
            <td>30 IN</td>
            <td>31 IN</td>
            <td>32 IN</td>
            <td>33 IN</td>
            <td>34 IN</td>
        </tr>
    </tbody>
</table>

        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">

        
          <img src="{{ 'Core_Men_s_Performance_Polo_Party_Shirt.png' | file_url  }}" alt="Core Men's SS & LS" width="" height="">

         
        </div>

    </div>
</div>
<!-- #loop -->









<!-- loop 
 
Core Men's joggers

Performance

-->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div class="flex-2">
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">Core Men's joggers</h3>
            <p class="text-big m-0 mb-8">Performance</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong>Standard Fit.</p>
            <p class="m-0 mb-8"><strong>Material:</strong>  BTStretch Fleece lined 88 Polyester / 12 Spandex. </p>
        </div>

         <div class="arrow-up">
            {{'icon-arrow-up.svg' |  asset_url |  img_tag }}
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
           <table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>28 IN</td>
            <td>30 IN</td>
            <td>32 IN</td>
            <td>34 IN</td>
            <td>36 IN</td>
            <td>38 IN</td>
            <td>40 IN</td>
        </tr>
        <tr>
            <td><strong>HIPS</strong></td>
            <td>37.25 IN</td>
            <td>38.25 IN</td>
            <td>39.25 IN</td>
            <td>40.25 IN</td>
            <td>41.25 IN</td>
            <td>42.25 IN</td>
            <td>43.25 IN</td>
        </tr>
    </tbody>
</table>

        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">

        
          <img src="{{ 'Core_Men_s_Performance_Joggers.png' | file_url  }}" alt="Core Men's SS & LS" width="" height="">

         
        </div>

    </div>
</div>
<!-- #loop -->







<!-- loop 
 
Core Men's tank top
Performance
Starting Retail Price: $60 / $80

-->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div class="flex-2">
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">Core Men's tank top</h3>
            <p class="text-big m-0 mb-8">Performance</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong> Standard Fit.</p>
            <p class="m-0 mb-8"><strong>Material:</strong>  Pinhole Mesh 93 Polyester / 7 Spandex. </p>
        </div>

         <div class="arrow-up">
            {{'icon-arrow-up.svg' |  asset_url |  img_tag }}
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
         <table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>20 IN</td>
            <td>21 IN</td>
            <td>22 IN</td>
            <td>24 IN</td>
            <td>24 IN</td>
            <td>25 IN</td>
            <td>N/A</td>
        </tr>
        <tr>
            <td><strong>HIPS</strong></td>
            <td>28.5 IN</td>
            <td>29.5 IN</td>
            <td>30.5 IN</td>
            <td>32.5 IN</td>
            <td>32.5 IN</td>
            <td>33.5 IN</td>
            <td>N/A</td>
        </tr>
    </tbody>
</table>

        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">

        
          <img src="{{ 'Core_Men_s_Performance_Tank_Top.png' | file_url  }}" alt="Core Men's SS & LS" width="" height="">

         
        </div>

    </div>
</div>
<!-- #loop -->



