{% comment %} {{ 'section-image-banner.css' | asset_url | stylesheet_tag }} {% endcomment %}


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

@media screen and (min-width: 750px) {
  .grid__item-4{ max-width:calc(40% - var(--grid-desktop-horizontal-spacing) / 2)}


  .grid__item-6{max-width:calc(60% - var(--grid-desktop-horizontal-spacing) / 2)}

}

{%- endstyle -%}






<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }} ">
  <div class="page-width">


<div class="grid">

 {% comment %} section settings {% endcomment %}

 <div class="bulk-settings grid__item grid__item-4">


 {% comment %} heading {% endcomment %}

<h2 class="h3 fw-700 m-0">{{  section.settings.heading_text }}</h2> 

<h3 class="h3 fw-800 m-0">{{  section.settings. heading_text_2 }}</h3>

 {% comment %} paragraph {% endcomment %}
 {{ section.settings.content }}
 {% comment %} button {% endcomment %}


 
   {%- if section.settings.button_label != blank -%}
                  <a
                    {% if section.settings.button_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ section.settings.button_link }}"
                    {% endif %}
                    class="button{% if section.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %} mt-24"
                  >
                    {{- section.settings.button_label | escape -}}
                  </a>
                {%- endif -%}
                {%- if section.settings.button_label_2 != blank -%}
                  <a
                    {% if section.settings.button_link_2 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ section.settings.button_link_2 }}"
                    {% endif %}
                    class="button{% if section.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %} mt-24"
                  >
                    {{- section.settings.button_label_2 | escape -}}
                  </a>
 {% endif %}

 </div>



 {% comment %} blocks settings {% endcomment %}

  <div class="bulk-blocks grid__item grid__item-6">


                 <slider-component class="slider-mobile-gutter">
      <ul
        class="multicolumn-list contains-content-container grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop{% if show_mobile_slider %} slider slider--tablet grid--peek{% endif %}"
        id="Slider-{{ section.id }}"
        role="list"
      >
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}

        {%  assign block_count = 0 %}

        {%- for block in section.blocks -%}

             {%- assign block_count = block_count | plus: 1 -%}

            



          {%- assign empty_column = '' -%}
          {%- if block.settings.image == blank
            and block.settings.title == blank
            and block.settings.text == blank
            and block.settings.link_label == blank
          -%}
            {%- assign empty_column = ' multicolumn-list__item--empty' -%}
          {%- endif -%}

          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="multicolumn-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}{{ empty_column }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}
            
            color-{{ section.settings.color_scheme_boxes }} gradient{% unless section.settings.background_style_boxes == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style_boxes }}{% endunless %}
            
            "
            {{ block.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >





            <div class="multicolumn-card content-container">
              {%- if block.settings.image != blank -%}
               {{
                      block.settings.image
                      | image_url: width: 500
                      | image_tag:
                        widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                        sizes: sizes,
                        class: 'bulk__item-image img-fluid'
                    }}
                
              {%- endif -%}


              <div class="multicolumn-card__info d-flex">

              <div class="number h1">{{ block_count }}</div>

              <div class="items">

                {%- if block.settings.title != blank -%}
                  <h3 class="inline-richtext">{{ block.settings.title }}</h3>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="rte">{{ block.settings.text }}</div>
                {%- endif -%}
                {%- if block.settings.link_label != blank -%}
                  <a
                    class="link animate-arrow"
                    {% if block.settings.link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.link }}"
                    {% endif %}
                  >
                    {{- block.settings.link_label | escape -}}
                    <span class="svg-wrapper"
                      ><span class="icon-wrap">&nbsp;{{ 'icon-arrow.svg' | inline_asset_content }}</span></span
                    >
                  </a>
                {%- endif -%}
                </div>
              </div>
            </div>
          </li>
        {%- endfor -%}
      </ul>


  </div>


</div>

  </div>


  </div>


{% schema %}
{
    "name": "Bulk Order",
    "class": "section bulk-order",
    "disabled_on": {
    "groups": ["header", "footer"]
  },
    "settings": [

  {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
        {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },

    {
        "type": "inline_richtext",
        "id": "heading_text",
        "label": "Heading",
        "default":  "Heading 1 "
      },


          {
        "type": "inline_richtext",
        "id": "heading_text_2",
        "label": "Heading",
        "default": "Heading 2 "
      },




      {
        "type": "richtext",
        "id": "content",
        "label": "Text",
        "default": "<h1>We are a company that values quality.</h1>"
      },

       {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.rich-text.blocks.buttons.settings.button_label_1.default",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_2.label"
        }



        
        ],


        "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "t:sections.multicolumn.blocks.column.settings.title.default",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.multicolumn.blocks.column.settings.text.default",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "t:sections.multicolumn.blocks.column.settings.link_label.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.multicolumn.blocks.column.settings.link.label"
        }
      ]
    }
  ],



         "presets": [
    {
      "name": "Bulk Order section"
}
]
}
{% endschema %} 