{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }


    @media screen and (min-width: 990px) {
  .card-wrapper:hover .media.media--hover-effect > img + img {
    opacity: 1;
   
    transform: scale(1);
    transition: all 1s;
  }
}

.catalog-grid .order:nth-child(2n) .order__item:first-child {

  order: 2;
}

.bg-transparent{
  background:transparent!important;
}
.media > :not(.zoom):not(.deferred-media__poster-button), .media model-viewer{}

.flex-wrap{
     flex-wrap: wrap;  /* Allow items to wrap to the next line */
}

.gap-8{
    gap:8px;
}

.color-item{
    

  flex: 1 1 calc(100% / 7 - 10px); 
  box-sizing: border-box;
  padding: 0px;

  color: var(--Cream, #FFFDF3);
text-align: center;

font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 133.333% */




}

.price-caption{
   
    color: rgba(var(--title-highlighted)); 
  font-family: "Barlow", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
}

.color-item span{
  width:32px;
  height:32px;

  display:inline-block;

  border-radius:100%;}

  
 .bg-{{ section.id }}{
    position:relative;
 }
 .bg-{{ section.id }}:after{
    content:'';
    mix-blend-mode: multiply;
    background-image: url({{ 'DtoZxu_2.png' |  file_url }}) !important;
    width:100%;
    height:100%;
    left:0;
    top:0;
    position:absolute;
    z-index:0;
}

.border-section{
    padding:8px 0;
    border:solid 1px #D8DAB8;
    
}

.characteristics ul{
    margin:4px 0;
    padding:0 0 0 25px;
}


       .pr-shadow{   
        display:block;
        margin:auto;
/*         
       width: 268px;
height: 22px; border-radius: 268px;
background: radial-gradient(50% 50% at 50% 50%, rgba(165, 165, 165, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%);
mix-blend-mode: multiply;
display:block; */

       }



.button-catalog{position: absolute;
  left: 50%;
  bottom: 105px;
  transform: translate(-50% , -50%);
}
.catalog .image-with-text__content > * + * {
  margin-top: .8rem;
}


.mb-8{
  margin-bottom:8px!important;
}

.pr-catalog .image-with-text__content{
    padding: 0 5rem;
}

.color-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 items per row */
    gap: 0px;
    padding: 0px;
}

.color-item {   
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color);
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
}




@media(max-width:1000px){
 .pr-catalog .image-with-text__content{
    padding: 0 2rem;
}

}

@media(max-width:649px){


.pr-catalog .image-with-text__media-item {
  order:2;
}

 .pr-catalog .image-with-text__content{
    padding: 0;
}

}


{%- endstyle -%}

{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
  if section.settings.color_scheme == section.settings.section_color_scheme and section.settings.content_layout == 'no-overlap'
    assign remove_color_classes = true
  endif
-%}
{% comment %} 
{% assign color_count = 0 %}

{% for block in section.blocks %}

{% for inblock in block.settings %}

    {% for ss in inblock.settings %}

    {{ss}} <br>{% assign color_count = color_count | plus: 1 %}

{% endfor %}
 
 
{% endfor %}

<p>There are {{ color_count }} color settings.</p> {% endcomment %}



<div class="bg-{{ section.id }} section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }} ">
  <div class="page-width z-1 pr-catalog position-relative">
    <div class="image-with-text image-with-text--{{ section.settings.content_layout }} isolate{% if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0 %} collapse-borders{% endif %}{% unless section.settings.color_scheme == section.settings.section_color_scheme and settings.media_border_thickness > 0 and settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0 %} collapse-corners{% endunless %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="image-with-text__grid grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %}">
        <div class="card-wrapper bg-transparent image-with-text__media-item image-with-text__media-item--{{ section.settings.desktop_image_width }} image-with-text__media-item--{{ section.settings.desktop_content_position }} grid__item">
          <div
            class="media media--transparent media--hover-effect image-with-text__media image-with-text__media--{{ section.settings.height }} global-media-settings{% unless remove_color_classes %} gradient color-{{ section.settings.color_scheme }}{% else %} background-transparent{% endunless %}{% if section.settings.image != blank %} media{% else %} image-with-text__media--placeholder placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}"
            {% if section.settings.height == 'adapt' and section.settings.image != blank %}
              style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"
            {% endif %}
          >


            {%- if section.settings.image != blank -%}
              {%- if section.settings.image_behavior == 'ambient' or section.settings.image_behavior == 'zoom-in' -%}
                {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
                {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
              (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
            {%- endcapture -%}
              {%- else -%}
                {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
              (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
            {%- endcapture -%}
              {%- endif -%}
              {{
                section.settings.image
                | image_url: width: 1500
                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
              }}
            {%- else -%}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}


{% comment %} image 2 {% endcomment %}

             {%- if section.settings.image_2 != blank -%}
              {%- if section.settings.image_behavior == 'ambient' or section.settings.image_behavior == 'zoom-in' -%}
                {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
                {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
              (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
            {%- endcapture -%}
              {%- else -%}
                {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
              (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
            {%- endcapture -%}
              {%- endif -%}
              {{
                section.settings.image_2
                | image_url: width: 1500
                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
              }}
            {%- else -%}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}




            
          </div>
          
            {% comment %} Image Shadow {% endcomment %}


             <a
                      {% if section.settings.button_link == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ section.settings.button_link }}"
                      {% endif %}
                      class="button button-catalog {% if section.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                      {{ section.shopify_attributes }}
                    >
                      {{ section.settings.button_label | escape }}
                    </a>



<div class="pr-shadow text-center">

            {{ 'pr-shadow.png' | asset_url | img_tag }}

</div>
        </div>
        <div class="image-with-text__text-item grid__item">
          <div
            id="ImageWithText--{{ section.id }}"
            class="image-with-text__content image-with-text__content--{{ section.settings.desktop_content_position }} image-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} image-with-text__content--mobile-{{ section.settings.mobile_content_alignment }} image-with-text__content--{{ section.settings.height }} content-container{% unless remove_color_classes %} gradient color-{{ section.settings.color_scheme }}{% else %} background-transparent{% endunless %}"
          >
            {%- for block in section.blocks -%}
              {% case block.type %}
                {%- when 'heading' -%}
                  <h2
                    class="lh-40 image-with-text__heading inline-richtext text-uppercase {{ block.settings.heading_size }}"
                    {{ block.shopify_attributes }}
                  >
                    {{ block.settings.heading }}
                  </h2>
                {%- when 'caption' -%}



                  <p
                    class="price-caption image-with-text__text image-with-text__text--caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }} {{ block.settings.text_style }}"
                    {{ block.shopify_attributes }}
                  >
                 
                

                  

<strong>Retail Price:  </strong> {{ block.settings.caption | escape }}
                  </p>





                {%- when 'text' -%}
                  <div class="image-with-text__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
                    {{ block.settings.text }}
                  </div>




   {%- when 'size' -%}

                  <div class="border-section w-100 border-left-0 border-right-0 image-with-text__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }} >
            <p class="m-0"> <strong> Size:     </strong> {{ block.settings.size }} </p> 
              
              </div>

   {%- when 'color' -%}

    
   

    
             <div class="color m-0 mb-8 gap-8 w-100 border-section border-left-0 border-right-0 border-top-0"  {{ block.shopify_attributes }}>


          <p class="m-0">  <strong> Color:</strong> </p>    
<div class="color-container">





  {% for i in (1..10) %}

    {% assign color_text_key = 'color_text_' | append: i %}    
    {% assign color_text_value = block.settings[color_text_key] %}

    {% assign color_plate_key = 'color_plate_' | append: i %}
    {% assign color_plate_value = block.settings[color_plate_key] %}



    {% if color_text_value != '' %}
        <div class="color-item" >
            <span style="background: {{ color_plate_value }}"></span>
            <div>{{ color_text_value }}</div>
        </div>
    {% endif %}







  {% endfor %}
</div>
</div>










   {%- when 'characteristics' -%}
  <div class="characteristics">
<p class="m-0"><strong>  Characteristics: </strong></p>

               
              
               <div {{ block.shopify_attributes }} >{{ block.settings.character_text }}</div>
              
             
                  </div>


                  

                {%- when 'button' -%}
                  {%- if block.settings.button_label != blank -%}
                    <a
                      {% if block.settings.button_link == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.button_link }}"
                      {% endif %}
                      class="button {% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                      {{ block.shopify_attributes }}
                    >
                      {{ block.settings.button_label | escape }}
                    </a>
                  {%- endif -%}
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %} 

   {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    }, {% endcomment %}
{% schema %}
{
  "name": "Emblem Catalog Product",
  "class": "section catalog",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [

    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },

     {
      "type": "image_picker",
      "id": "image_2",
      "label": "Second Image"
    },

    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.height.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-with-text.settings.desktop_image_width.label",
      "info": "t:sections.image-with-text.settings.desktop_image_width.info"
    },

     {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.image-with-text.blocks.button.settings.button_label.default",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.image-with-text.blocks.button.settings.outline_button.label"
        }

        ,
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "text_first",
      "label": "t:sections.image-with-text.settings.layout.label",
      "info": "t:sections.image-with-text.settings.layout.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "top",
      "label": "t:sections.image-with-text.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "content_layout",
      "options": [
        {
          "value": "no-overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__1.label"
        },
        {
          "value": "overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__2.label"
        }
      ],
      "default": "no-overlap",
      "label": "t:sections.image-with-text.settings.content_layout.label"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-19"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.multirow.settings.container_color_scheme.label",
      "default": "scheme-19"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.mobile_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.image-with-text.blocks.heading.settings.heading.default",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
               {
              "value": "h5",
              "label":  "xxx-small"
            },
               {
              "value": "h4",
              "label":  "xx-small"
            },
               {
              "value": "h3",
              "label": "x-small"
            },

            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h5",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "Price",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add Price",
          "label": "Price"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.image-with-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "small",
          "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.label"
        }
      ]
    },


      {
          "type": "size",
      "name": "Size",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "size",
          "default": "Add a size",
          "label": "Size"
        }]
        },



        
      {
          "type": "color",
      "name": "Color",
      "limit": 1,
      "settings": [
       {
  "type": "color",
  "id": "color_plate_1",
  "default": "#000000",
  "label": "Add color"
},
{
  "type": "text",
  "id": "color_text_1",
  "default": "Black",
  "label": "Add color name"
},

{
  "type": "color",
  "id": "color_plate_2",
  "default": "#635B42",
  "label": "Add color"
},
{
  "type": "text",
  "id": "color_text_2",
  "default": "Tan 499",
  "label": "Add color name"
},

{
  "type": "color",
  "id": "color_plate_3",
  "default": "#604E3D",
  "label": "Add color"
},
{
  "type": "text",
  "id": "color_text_3",
  "default": "Coyote Brown",
  "label": "Add color name"
},

{
  "type": "color",
  "id": "color_plate_4",
  "default": "#444936",
  "label": "Add color"
},
{
  "type": "text",
  "id": "color_text_4",
  "default": "Olive Drab Green",
  "label": "Add color name"
},

{
  "type": "color",
  "id": "color_plate_5",
  "default": "#171E3F",
  "label": "Add color"
},
{
  "type": "text",
  "id": "color_text_5",
  "default": "Navy Blue",
  "label": "Add color name"
},

{
  "type": "color",
  "id": "color_plate_6",
  "default": "#051C26",
  "label": "Add color"
},
{
  "type": "text",
  "id": "color_text_6",
  "default": "Midnight Blue",
  "label": "Add color name"
},

{
  "type": "color",
  "id": "color_plate_7",
  "default": "#f2f2f2",
  "label": "Add color"
},
{
  "type": "text",
  "id": "color_text_7",
  "default": "Unlimited Colors",
  "label": "Add color name"
},

{
  "type": "color",
  "id": "color_plate_8",
  "default": "#cccccc",
  "label": "Add color"
},
{
  "type": "text",
  "id": "color_text_8",
  "default": "Gray",
  "label": "Add color name"
},

{
  "type": "color",
  "id": "color_plate_9",
  "default": "#CD7F32",
  "label": "Add color"
},
{
  "type": "text",
  "id": "color_text_9",
  "default": "Bronze",
  "label": "Add color name"
},

{
  "type": "color",
  "id": "color_plate_10",
  "default": "#0000FF",
  "label": "Add color"
},
{
  "type": "text",
  "id": "color_text_10",
  "default": "Blue",
  "label": "Add color name"
}





    
    ]
        },

 {
          "type": "characteristics",
      "name": "Characteristics",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "character_text",
         "default": "<p>Some characteristics description here</p>",
          "label": "Add text"
        }]
        },




        
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.image-with-text.blocks.text.settings.text.default",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-with-text.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.image-with-text.blocks.button.settings.button_label.default",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.image-with-text.blocks.button.settings.outline_button.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Emblem Catalog Product",
      "blocks": [
        {
          "type": "heading"
        },
          {
          "type": "caption"
        },
        {
          "type": "text"
        },

        {
          "type": "size"
        },

        {
          "type": "color"
        },
       
        {
          "type": "characteristics"
        }
      ]
    }
  ]
}
{% endschema %}