{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
    }
  }


  .collection-hero__title{
    color: rgba(var( --title-highlighted ));
    font-weight:700;
    font-size:80px;
    
  }

   .collection-hero__title.collection-hero__title__styled{line-height:53px;}

  .collection-hero__title__styled {
    color:rgba(var(--color-foreground));
  }


.collection-hero__title__styled em{
     color: rgba(var( --title-highlighted ));
     font-family: "Smooch", cursive !important;
  font-weight: 400 !important;


      font-style: normal;
    font-size: 97px;
    text-transform: lowercase;
    line-height: 0;
    display: inline-block;
    position: relative;


  }


  .collection-hero__text-wrapper{
    padding:5rem 2rem 5.5rem 0!important; margin:0!important;
  }
  

  .collection-button{
    margin-top:30px;
  }


  
.bg-shop-{{ section.id }}{
  position:relative;
}

 .bg-shop-{{ section.id }}:after{
    content:'';
background-image: url({{ section.settings.image_background |  image_url }}) !important;
background-size:cover;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
mix-blend-mode: multiply;

  }


  .collection-bg{
    width:100%;
  }


  .collection-search{}


   .collection-search .field{
    max-width:544px;
    margin:auto; background: #fff;
       height: 48px;

           border: solid 2px #191C00;

  }

  .collection-search .header__search.search__input.field__input {   
    min-width: 100%;
    background: #fff;
    height: 48px;
   
}


  .collection-search .header__search .search__input.field__input {
    padding-left: 3.6rem;
    min-width: 0;
    max-width: 100%;
    height: 100%;
    border: 0;
}

  .collection-search .ls-dropdown-menu{
 border:0!important
}

.note{ color:#54582F; }
   
    
    

{%- endstyle -%}

<div class="collection-hero position-relative {% if section.settings.show_collection_image and collection.image %} p-0 collection-hero--with-image{% endif %} color-{{ section.settings.color_scheme }} gradient ">
  

<img src="{{ section.settings.image_background |  image_url: width: 2000 }}" class="collection-bg" width="auto" height="auto">       



<div class="collection-hero__inner text-center page-width {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %} position-absolute absolute-center z-99">

    <div class="collection-hero__text-wrapper text-center

  {{  section.settings.text_alignment }}    
    
    ">


  {% if section.settings.show_collection_title %} 

      <h1 class="collection-hero__title text-uppercase">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1>

  {% endif %}

      {%- if section.settings.show_collection_description -%}

        {% if section.settings.show_collection_title  %} 


          <div class="collection-hero__description rte text-center mx-auto">          
            {{ collection.description }}        
          </div>
         
        
        {% else  %}
           <h1 class="collection-hero__title collection-hero__title__styled  text-center">



          {{ collection.description | remove: '<p>' | remove: '</p>' }}


           </h1>       

       {% endif %}
        


      {%- endif -%}


      {% comment %}
        search embed
      {% endcomment %}


      <div class="collection-search">
      
       <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form header__search">
          <div class="field">
           
            <label class="field__label" for="{{ input_id }}">| Search Unit Name </label>
            <input type="hidden" name="options[prefix]" value="last">
            <button
              type="reset"
              class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}"
              aria-label="{{ 'general.search.reset' | t }}"
            >
              <span class="svg-wrapper">
                {{- 'icon-reset.svg' | inline_asset_content -}}
              </span>
            </button>
            <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
              <span class="svg-wrapper">
                {{- 'icon-search.svg' | inline_asset_content -}}
              </span>
            </button>


             <input
              class="search__input field__input"
              id="{{ input_id }}"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="| Search Unit Name"
              {%- if settings.predictive_search_enabled -%}
                role="combobox"
                aria-expanded="false"
                aria-owns="predictive-search-results"
                aria-controls="predictive-search-results"
                aria-haspopup="listbox"
                aria-autocomplete="list"
                autocorrect="off"
                autocomplete="off"
                autocapitalize="off"
                spellcheck="false"
              {%- endif -%}
            >

            
          </div>

          {%- if settings.predictive_search_enabled -%}
            <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
              {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}
            </div>

            <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
          {%- endif -%}
        </form>

      <p class="note"> If you're having trouble finding your store, contact us. </p>


        </div>

        



      


    </div>

   
    {%- if section.settings.show_collection_image and collection.image -%}
      <div class="collection-hero__image-container media gradient">
        <img
          srcset="
            {%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if collection.image.width >= 360 -%}{{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if collection.image.width >= 535 -%}{{ collection.image | image_url: width: 535 }} 535w,{%- endif -%}
            {%- if collection.image.width >= 750 -%}{{ collection.image | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if collection.image.width >= 1070 -%}{{ collection.image | image_url: width: 1070 }} 1070w,{%- endif -%}
            {%- if collection.image.width >= 1500 -%}{{ collection.image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {{ collection.image | image_url }} {{ collection.image.width }}w
          "
          src="{{ collection.image | image_url: width: 750 }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
          alt="{{ collection.image.alt | escape }}"
          width="{{ collection.image.width }}"
          height="{{ collection.image.height }}"
        >
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Shop Collection Banner",
  "class": "section",
  "settings": [
   {
      "type": "image_picker",
      "id": "image_background",
      "label": "background Image"
    },

    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
     {
      "type": "checkbox",
      "id": "show_collection_title",
      "default": true,
      "label": "Show Collection Title"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
       
        "type": "select",
        "id": "text_alignment",
        "options": [
          {
            "value": "left",
            "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__1.label"
          },
          {
            "value": "center",
            "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__2.label"
          },
          {
            "value": "right",
            "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__3.label"
          }
        ],
        "default": "left",
        "label": "Text content alignment"
      },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
   "presets": [
    {
      "name": "Shop Collection Banner"
      
    }
  ]
}
{% endschema %}
