{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }


  
 .bg-{{ section.id }}{
    position:relative;
 }


 .bg-{{ section.id }}:after{
    content:'';
    mix-blend-mode: multiply;    
    background-image: url({{ section.settings.image_background |  image_url }}) !important;
    width:100%;
    height:100%;
    left:0;
    top:0;
    position:absolute;
    z-index:0;
    background-position: center;
} 

.difference-section{
  margin-top:30px;
}

.difference-section__content{
  max-width:560px;
  width:100%;
}

.difference-section__content ul{
 padding: 0;
  list-style-position: inside;

}

.difference-section__content ul li{

border-top:solid 1px rgba(var(--color-foreground));
margin: 8px 0;
  line-height: 24px;
  padding: 4px 0 0 ;
}

.mt-112{
  margin-top:110px;
  max-width:280px;
  width:100%;
}

.vs{color:  #FFF;
text-align: center;

font-size: 48px;
font-style: normal; 
font-weight: 800;
line-height: 48px; /* 100% */
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}


.icon-flex{
  position:absolute;

  opacity: 0;
  transform: rotate(-90deg) scale(0);
 
  bottom: 37px;
  right: 40px;

}

.gap-64 .icon-flex{
    opacity: 1!important;
      transform: rotate(0deg) scale(1);!important;
}


  
{%- endstyle -%}
<div class="background  bg-{{ section.id }} {% if section.settings.image_background %} z-0 bg-page-{{ section.id }} {% endif %}  color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %}">
<div class=" isolate{% unless section.settings.full_width %} page-width{% endunless %} position-relative z-1">
  <div class="rich-text content-container rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <div class="rich-text__wrapper z-2 position-relative d-block rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
      <div class="rich-text__blocks {{ section.settings.content_alignment }} mx-auto">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2
                class="rich-text__heading ls-1 barlow-semi-condensed rte inline-richtext {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.heading }}
              </h2>
            {%- when 'caption' -%}
              <p
                class="rich-text__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.caption | escape }}
              </p>
            {%- when 'text' -%}
              <div
                class="rich-text__text mt-8 rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.text }}
              </div>
            {%- when 'button' -%}
              <div
                class="rich-text__buttons{% if block.settings.button_label != blank and block.settings.button_label_2 != blank %} rich-text__buttons--multiple{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%- if block.settings.button_label != blank -%}
                  <a
                    {% if block.settings.button_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{- block.settings.button_label | escape -}}
                  </a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a
                    {% if block.settings.button_link_2 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_2 }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{- block.settings.button_label_2 | escape -}}
                  </a>
                {%- endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>




      
    {% comment %} Difference Section {% endcomment %}

<div class="difference-section d-flex mob-flex-column justify-content-center transition-all-6 gap-0  " id="difference-section">



  <div class="difference-section__content d-flex justify-content-between ">

  <div class="mt-112">
    <h3 class="h6 fw-700 m-0">PERFORMANCE</h3>
    <ul>
      <li>Breathable poly knit</li>
      <li>Structured fit</li>
      <li>Cool touch</li>
      <li>4-way stretch</li>
      <li>Matching thread</li>
      <li>Sewn in the USA</li>
    </ul>
</div>
    <div>
      <img src="{{ 'left-side.png' | asset_url }}" class="t-shirt-fly fly-left">
</div>

  </div>

  <p class="vs">
    VS
  </p>

  <div class="difference-section__content d-flex  justify-content-between ">


  <div class="position-relative">

     <img src="{{ 'right-side.png' | asset_url }}" class="t-shirt-fly fly-right">

     <img src="{{'icon-flex.svg' | asset_url }}" class="icon-flex transition-all-6">

  </div>


  <div  class="mt-112">
    <h3  class="h6 fw-700 m-0">FLEX PERFORMANCE</h3>
    <ul>
      <li>Cotton feel poly jersey</li>
      <li>Relaxed fit</li>
      <li>Buttery soft</li>
      <li>4-way stretch</li>
      <li>Matching thread</li>
      <li>Sewn in the USA</li>
    </ul>
  </div>
</div>
</div> <!-- Closing tag for .difference-section -->



    </div>










    
  </div>






  
</div>
</div>




<script>
  
 
const brandProduct = document.querySelector('#difference-section');

function checkIfInCenter() {
   
    const rect = brandProduct.getBoundingClientRect();
    const windowHeight = window.innerHeight;

  
    const elementCenter = rect.top + rect.height / 2;

   
    if (elementCenter >= windowHeight / 4 && elementCenter <= windowHeight * 3 / 4) {
      
        if (!brandProduct.classList.contains('gap-64')) {
            brandProduct.classList.add('gap-64');
        }
    } else {
       
        if (brandProduct.classList.contains('gap-64')) {
            brandProduct.classList.remove('gap-64');
        }
    }
}


window.addEventListener('scroll', checkIfInCenter);

window.addEventListener('load', checkIfInCenter);

checkIfInCenter();



</script>



{% schema %}
{
    "name": "Emblem The Difference",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [

   {
      "type": "image_picker",
      "id": "image_background",
      "label": "background Image"
   },
    
   {
      "type": "image_picker",
      "id": "image_background_2",
      "label": "background Image"
   },

    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.desktop_content_position.label",
      "info": "t:sections.rich-text.settings.desktop_content_position.info"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 3,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.rich-text.blocks.heading.settings.heading.default",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
             {
              "value": "h5",
              "label": "xxx-small"
            },
             {
              "value": "h4",
              "label": "xx-small"
            },
             {
              "value": "h3",
              "label": "x-small"
            },

            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.rich-text.blocks.caption.name",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "t:sections.rich-text.blocks.caption.settings.text.default",
          "label": "t:sections.rich-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.rich-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.rich-text.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.rich-text.blocks.text.settings.text.default",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.buttons.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.rich-text.blocks.buttons.settings.button_label_1.default",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Emblem The Difference",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
